<header>
      <div class="container">
        <%= image_tag("logo1.jpg", :alt => "rss feed")%>
        <%= image_tag("logo2.png", :alt => "rss feed")%>

        <a href="#" class="buttons"> Following </a>
        <a href="#" class="buttons"> Following </a>
      </div>
</header>
