<header>
      <div class="container">
        <%= image_tag "logo1.jpg", class: "abc", id: ""%>
        <%= image_tag "logo2.png"%>

        <a href="#" class="buttons"> Following </a>
        <a href="#" class="buttons"> Following </a>
      </div>
</header>
