<div class="container">
    <div class="row">
      <div>
        <%= image_tag("logo3.jpg")%>
      </div>

      <div class="col">
        <h1>method.kz</h1>
        <a href="#" class="btn-default"> Follow </a>
        <p>188 publications</p>
        <p>1 708 followers</p>
        <p>following: 2</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col">
        <img src="http://placehold.it/400x400" alt="">
        <div class="overlay">
        </div>
      </div>

      <div class="col">
        <img src="http://placehold.it/400x400" alt="">
        <div class="overlay">
        </div>
      </div>

      <div class="col">
        <img src="http://placehold.it/400x400" alt="">
        <div class="overlay">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col">
        <img src="http://placehold.it/400x400" alt="">
        <div class="overlay">
        </div>
      </div>

      <div class="col">
        <img src="http://placehold.it/400x400" alt="">
        <div class="overlay">
        </div>
      </div>

      <div class="col">
        <img src="http://placehold.it/400x400" alt="">
        <div class="overlay">
        </div>
      </div>
    </div>

  </div>
