<ul class="list-group">
  <% @users.each do |user| %>
    <% if current_user == user %>
      <% next %>
    <% end %>

    <li class="list-group-item">
         <%= image_tag "http://placehold.it/60x60", class: "img-circle" %>
         <%= link_to user.login, user %>
         <div class="follow" id="user-<%= user.id%>">
            <%= follows?(user) %>
         </div>
    </li>
  <% end %>
</ul>
